<!DOCTYPE html>

<html>

    <head>
        <link rel="stylesheet" href="/style.css" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial scale=1.0">
        <title>Weather Web Service</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>

    <body style="max-width:1100px;">

        <h2 style="background: lightblue; padding: 10px; border-radius: 10px;">
        <i class="fa-solid fa-bolt-lightning" style="color: yellow"></i>&nbsp;    
        Latest Weather Uploads:</h2>

        <div class="flex-container-1">
        
        <div class="flex-item-1">
        <div id="alert" style="background: red;padding:25px; color: #fff; border-radius:25px;">
        
            <ul>
                <% if (messageType && headline && sender) { %>
                <p>Message Type: <%= messageType %></p>
                <p>Headline: <%= headline %></p>
                <p>Sender: <%= sender %></p>
                <% } else { %>
                <p>No active weather alerts at this time.</p>
                <% } %>
            </ul>
        
        </div>
            <div class="linkContainer">
                <p>
                    <ul>
                        <li style="margin-bottom:20px;"><i class="fa-solid fa-list-ul"></i> &nbsp;&nbsp;<a href="/api/docs">Api Documentation</a></li>
                        <li><i class="fa-solid fa-satellite-dish"></i>&nbsp;&nbsp;<a href="/tracker">Weather Tracker</a></li>
                    </ul>
                </p> 
            </div>
            <form action="/login" method="post">
                <div id="align">
                    <input type="text" name="email" placeholder="Email"></input>
                    <input type="password" name="password" placeholder="Password"></input>
                </div>
                <div id="spacer">
                <button type="submit">Login</button>
                    <a href="/register">Register</a>
                    <a href="#">Forgot password?</a>
                    <a href="#">Login instructions</a>
                </div>
            </form>
        </div>
        
        
        <div class="flex-item-1">
              <div class="weather-info">
                <h1><%= fetchedData.name %> Weather Information</h1>

                <div class="weather-details">
                    <p class="temperature"><strong>Temperature:</strong><%= (fetchedData.main.temp - 273.15).toFixed(2) %></p>
                    <p class="humidity"><strong>Humidity:</strong><%= fetchedData.main.humidity %></p>
                    <p class="wind-speed"><strong>Wind Speed:</strong><%= fetchedData.wind.speed %></p>
                </div>

                <div class="weather-icon">
                <% if (fetchedData.main.temp < 273) { %>
                    <i class="fa fa-snowflake"></i> 
                <% } else if (fetchedData.main.temp > 303) { %>
                    <i class="fas fa-sun" ></i>      
                <% } else { %>
                    <i class="fas fa-cloud" ></i> 
                <% } %>
                </div>
            </div>
        </div>
    </div>
        
        
        
        <div id="vidContainer">
        <% videos.forEach((video) => { %>
            <div id="vidElement">
                <video width="320" height="240" autoplay muted controls>
                    <source src="data:<%= video.contentType %>;base64,<%= video.data.toString('base64') %>" type="<%= video.contentType %>">
                </video>
        
                <div id="vidScaffold">
                <h2 style="text-align:center;"><%= video.name %></h2>
                <p style="text-align: center;"><%= video.desc %></p>
                </div>
            </div>  
            <% }) %>
        </div>
        
        
        
        <div style="display:flex !important; margin: 20px; overflow-x: scroll; overflow-y: hidden;">
            <% images.forEach((image) => { %>
                <img src='data:image.jpeg;base64,<%= image.data %>' style="border: 6px solid transparent;height:100px;width:100px;border-radius:25px;"></img>
            <% }) %>    
        </div>
        


        <canvas id="myChart"></canvas>

        <div class="row mt-3">
            <% weatherData.forEach((data) => { %>
                <div class="col-md-4">
                    <div class="card" style="background-image:url('/images/<%=data.city.toLowerCase() %>.jpg');background-size:cover;">
                      <div class="card-header">
                        <%= data.city %>
                     </div>
                     <div class="card-body" style="width:400px">
                        <h5 class="card-title"><%= data.temperature %>℃</h5>
                        <% if(data.temperature < 0) { %>
                        <i class="fas fa-snowflake fa-5x"></i>
                        <% } else if (data.temperature > 20) { %>
                        <i class="fas fa-sun fa-5x"></i>
                        <% } else { %>
                        <i class="fas fa-cloud fa-5x"></i>
                        <% } %>
                        <p class="card-text">Humidity:&nbsp;<%= data.humidity %></p>
                    </div>
                </div>
                <% }); %>
           </div>
        </div>
    </body>

<script>

    //Get the weather data 
    const weatherMap = JSON.parse('<%- JSON.stringify(weatherData) %>');

    //Extracting temperature and city names from database
    const temperatures = weatherMap.map((data => data.temperature));
    const cities = weatherMap.map((data => data.city));

    //Create a new chart object or instance
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx,{
    type:'bar',
    data:{
        labels: cities,
        datasets: [{
            label: 'Temperature',
            data: temperatures,
        }]
      }    
    });

</script>

</html>